<html>
<div>
	<p>Hello,</p>
	<p>
		the Candidate <b>${candidateName}</b> has been modified. For more information see the candidate entry in DCEM: <a href="${candidateUrl}">Show
			Candidate</a>
	</p>

	<p>
	<p>
		If you don't want to receive further notifications about changes to this vacancy, go to the Watchers Tab of the
		candidate and remove your name from the list or, if you don't have the necessary access rights, contact your administrator for further assistance.
	</p>
	</p>

	<p>
		Best regards<br /> Your HR

	</p>
</div>
</html>