<html>
<div>
	<p>Hallo,</p>
	<p>
		die Vakanz <b>${vacancyFullname}</b> wurde geändert. Weitere Informationen finden Sie im Vakanzeintrag in DCEM: <a href="${vacancyUrl}">Vakanz
			anzeigen</a>
	</p>

	<p>
		Wenn Sie keine weiteren Benachrichtigungen über Änderungen an dieser Vakanz erhalten wollen, gehen Sie zum Beobachterreiter
		der Vakanz und entfernen Sie Ihren Namen von der Liste der Beobachter oder, wenn Sie nicht die notwendigen Zugriffsrechte haben oder als Abteilungsleiter standardmäßig
		Benachrichtigungen über Änderungen an Vakanzen Ihrer Abteilung erhalten, kontakieren Sie Ihren Administrator für weitere Unterstützung.
	</p>

	<p>
		Mit freundlichen Grüßen<br> Ihre HR
	</p>
</div>
</html>