<html>
<div>
	<p>Hallo,</p>
	<p>
		der Kandidat <b>${candidateName}</b> wurde geändert. Weitere Informationen finden Sie im Eintrag des Kandidaten in DCEM: <a href="${candidateUrl}">Kandidat
			anzeigen</a>
	</p>

	<p>
		Wenn Sie keine weiteren Benachrichtigungen über Änderungen an diesem Kandidaten erhalten wollen, gehen Sie zum Beobachterreiter
		des Kandidaten und entfernen Sie Ihren Namen von der Liste der Beobachter oder kontaktieren Sie Ihren Administrator für weitere Unterstützung.
	</p>

	<p>
		Mit freundlichen Grüßen<br> Ihre HR
	</p>
</div>
</html>