<html>
<div>
	<p>Hello,</p>
	<p>
		the Vacancy <b>${vacancyFullname}</b> has been modified. For more information see the vacancy entry in DCEM: <a href="${vacancyUrl}">Show Vacancy</a>
	</p>

	<p>
		If you don't want to receive further notifications about changes to this vacancy, go to the Watchers Tab of the vacancy
		and remove your name from the list or, if you don't have the necessary access rights or are a Head of Deparment, which receives notficiations about changes to vacancies
		from your department by default, contact your administrator for further assistance.
	</p>

	<p>

		Best regards<br /> Your HR
	</p>
</div>
</html>